--header "{file}\nCopyright (c) {year} GetAutomaApp\nAll source code and related assets are the property of GetAutomaApp.\nAll rights reserved.\n\nThis package is freely distributable under a modified version of the BSD 2-Clause License.\nThis Package is a modified fork of https://github.com/GetAutomaApp/swift-any-codable."
